:root {
    --cyan:#AEDDDA;
    --green:#4C7335 ;
    --dark:#2B3837;
    font-family: 'Roboto', sans-serif;
    color:var(--blue);
    }
    body, header, main, footer, section, article, aside {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-size:16px;
    }
    main p {
        font-size: 0.8em;
    }
    main aside div {
        padding:5px;
        box-sizing: border-box;
    }